Repository bcdice/BCDice, pull requests merged in 2020-02, with the labels that each got.

#115 ダイスボット追加(チェレステパラディーゾ、ステラーライフ)
  src/diceBot/DiceBotLoaderList.rb
  src/diceBot/Paradiso.rb
  src/diceBot/SterileLife.rb
  src/test/data/Paradiso.txt
  src/test/data/SterileLife.txt
Labels: new dicebot

#120 Cthulhu7thの各種表記を日本語版に合わせる
  src/diceBot/Cthulhu7th.rb
  src/test/data/Cthulhu7th.txt
Labels: enhance dicebot

#121 新クトゥルフ神話TRPGの各種表の表記への更新
  src/diceBot/Cthulhu7th.rb
  src/test/data/Cthulhu7th.txt
Labels: enhance dicebot

#122 Pulp cthulhu
  src/diceBot/PulpCthulhu.rb
  src/test/data/PulpCthulhu.txt
Labels: new dicebot

#123 スタンダードRPGシステム：目標値なしの成功判定の追加など
  src/.rubocop_todo.yml
  src/Rakefile
  src/diceBot/Alshard.rb
  src/diceBot/EtrianOdysseySRS.rb
  src/diceBot/FullMetalPanic.rb
  src/diceBot/MetallicGuadian.rb
  src/diceBot/SRS.rb
  src/test/data/Alshard.txt
  src/test/data/EtrianOdysseySRS.txt
  src/test/data/FullMetalPanic.txt
  src/test/data/MetallicGuadian.txt
  src/test/data/SRS.txt
  src/test/test_srs_help_messages.rb
  src/utils/modifier_formatter.rb
Labels: enhance dicebot

#125 NinjaSlayer: サツバツ表にTableクラスを使う
  src/diceBot/NinjaSlayer.rb
  src/test/data/NinjaSlayer.txt
Labels: refactoring

#126 NinjaSlayer: NJコマンドでシークレットロールできないのを修正する
  src/diceBot/NinjaSlayer.rb
  src/test/data/NinjaSlayer.txt
Labels: bug
