Repository bcdice/BCDice, pull requests merged in 2020-07, with the labels that each got.

#226 IRC関連の処理、設定を削除する
  src/ArgsAnalizer.rb
  src/CardTrader.rb
  src/TableFileData.rb
  src/bcdiceCore.rb
  src/cgiDiceBot.rb
  src/configBcDice.rb
  src/configBcDiceForSystem.rb
  src/test.rb
  src/test/others/testArgs.rb
  src/test/others/testCard.rb
  src/test/others/testPointer.rb
  src/test/others/testSecretDice.rb
Labels: IRCボット分離独立化, refactoring

#224 IRC関連のファイルを削除する
  .rubocop_todo.yml
  Gemfile
  Rakefile
  bcdice.ini
  src/ArgsAnalizer.rb
  src/CardTrader.rb
  src/TableFileData.rb
  src/bcdiceCore.rb
  src/cgiDiceBot.rb
  src/configBcDice.rb
  src/configBcDiceForSystem.rb
  src/irc/ircBot.rb
  src/irc/ircLib.rb
  src/test.rb
  src/test/others/testArgs.rb
  src/test/others/testCard.rb
  src/test/others/testPointer.rb
  src/test/others/testSecretDice.rb
Labels: IRCボット分離独立化, refactoring

#217 Rerollダイスのリファクタリングと振り足し条件指定の仕様変更
  .rubocop_todo.yml
  src/dice/RerollDice.rb
  src/test/data/None.txt
Labels: bug, refactoring

#219 迷宮キングダム基本ルールブック：誤字修正
  src/diceBot/MeikyuKingdomBasic.rb
  src/test/data/MeikyuKingdomBasic.txt
Labels: enhance dicebot

#228 ロードス島戦記RPGを追加
  src/diceBot/RecordOfLodossWar.rb
  src/test/data/RecordOfLodossWar.txt
Labels: new dicebot

#227 スチームパンカーズを追加
  src/diceBot/SteamPunkers.rb
  src/test/data/SteamPunkers.txt
Labels: new dicebot

#229 スチームパンカーズの表類を追加
  src/diceBot/SteamPunkers.rb
  src/test/data/SteamPunkers.txt
  src/utils/d66_range_table.rb
Labels: enhance dicebot

#230 一部の加算ダイスでシークレットにならない問題を修正
  src/bcdiceCore.rb
  src/test/data/None.txt
Labels: bug

#236 メッセージの最大文字数制限を撤廃する
  src/cgiDiceBot.rb
  src/configBcDice.rb
  src/diceBot/BattleTech.rb
  src/diceBot/DoubleCross.rb
  src/diceBot/RecordOfSteam.rb
  src/diceBot/SwordWorld.rb
Labels: IRCボット分離独立化, refactoring

#218 迷宮キングダム：基本ルールブック、上級ルールブック記載の表を追加
  src/diceBot/MeikyuKingdomBasic.rb
  src/test/data/MeikyuKingdomBasic.txt
Labels: enhance dicebot

#242 TORG EternityのTGコマンドのバグ修正
  src/diceBot/TorgEternity.rb
  src/test/data/TorgEternity.txt
Labels: bug, refactoring

#241 ネーバークラウドTRPGをリファクタリング
  src/diceBot/NeverCloud.rb
  src/test/data/NeverCloud.txt
Labels: refactoring

#250 GitHub Actionsを使う
  .github/workflows/lint.yaml
  .github/workflows/test.yml
  .travis.yml
  Gemfile
  README.md
  Rakefile
  src/test/setup.rb
Labels: refactoring

#245 ダブルクロス韓国語版を追加
  src/diceBot/DoubleCross_Korean.rb
  src/test/data/DoubleCross_Korean.txt
Labels: new dicebot

#246 ストラトシャウト韓国語版を追加
  src/diceBot/StratoShout_Korean.rb
  src/test/data/StratoShout_Korean.txt
Labels: new dicebot

#247 フィアスコ韓国語版を追加
  src/diceBot/Fiasco_Korean.rb
  src/test/data/Fiasco_Korean.txt
Labels: new dicebot

#248 ネクロニカに未練表を追加
  src/diceBot/Nechronica.rb
  src/test/data/Nechronica.txt
Labels: enhance dicebot

#251 ゴブリンスレイヤーTRPGのダイスボット追加
  src/diceBot/DiceBotLoaderList.rb
  src/diceBot/GoblinSlayer.rb
  src/test/data/GoblinSlayer.txt
Labels: new dicebot
