Repository bcdice/BCDice, pull requests merged in 2020-08, with the labels that each got.

#252 ナイトウィザードのリファクタリング
  src/diceBot/NightWizard.rb
  src/diceBot/NightWizard3rd.rb
  src/diceBot/SevenFortressMobius.rb
  src/test/data/NightWizard.txt
  src/test/data/NightWizard3rd.txt
  src/test/data/SevenFortressMobius.txt
  src/utils/format.rb
Labels: refactoring

#255 NightWizardにプラーナ補正を実装
  src/diceBot/NightWizard.rb
  src/test/data/NightWizard.txt
Labels: enhance dicebot

#260 Refactor TwilightGunsmoke
  src/diceBot/TwilightGunsmoke.rb
  src/test/data/TwilightGunsmoke.txt
Labels: refactoring

#258 「リューチューバーとちいさな奇跡」ダイスボット追加
  src/diceBot/DiceBotLoaderList.rb
  src/diceBot/RyuTuber.rb
  src/test/data/RyuTuber.txt
Labels: new dicebot

#270 コード：レイヤードのバグ修正と機能追加
  src/diceBot/CodeLayerd.rb
  src/test/data/CodeLayerd.txt
Labels: enhance dicebot

#269 BeastBindTrinityのリファクタリング
  src/diceBot/BeastBindTrinity.rb
  src/test/data/BeastBindTrinity.txt
Labels: refactoring
